

ul
	padding: 0
	list-style: none
	margin: 0
	li
		a
			&:hover
				text-decoration: none
header
	.custom-navbar
		// opacity: .5
		position: fixed
		top: 0
		left: 0
		width: 100%
		z-index: 500
		background: #29506fa3
		width: 100%
		transition: all .4s ease-in-out
		&.solid-header
			padding: 0px
			background: #29506f
		.inner-custom-navbar
			display: flex
			flex-flow: row nowrap
			align-items: center
			justify-content: center
			position: initial
			.custom-navbar-brand
				padding: 10px 0
				.custom-brand-link
					width: 30%
					display: block
					img
						width: 100%
			.custom-language
				.languages
					display: flex
					.item
						padding: 5px
						
			.custom-navbar-collapse
				flex-grow: 1
				position: static
				.custom-nav
					display: block
					position: absolute
					top: 0
					right: -100%
					transition: all .5s ease-in-out
					.closed-btn-item
						display: none
					.custom-nav-item
						padding: 10px 30px
						position: relative
						text-align: center
						.custom-nav-link
							color: white
							display: block
							margin: auto
						&:before
								content: ''
								display: block
								transition: all .3s ease-in-out
								left: 50%
								transform: translateX(-50%)
								width: 0
						&.active,
						&:hover
							font-weight: bold
							&:before
								content: ''
								display: block
								position: absolute
								bottom: -2px
								left: 50%
								transform: translateX(-50%)
								width: 60%
								height: 2px
								background: white
					&.active
						height: 100vh
						width: 100vw
						right: 0
						background: $mainBlue
						.dummy-brand-space
							display: none
						.closed-btn-item
							display: block
							position: absolute
							top: 1rem
							right: 1rem
			.custom-navbar-hamburger
				#cus-hamgurger
					color: white
					background: transparent
					border: white 2px solid
		+media-breakpoint-up(md)
			.inner-custom-navbar
				.custom-navbar-brand
					padding: 10px 0
					.custom-brand-link
						width: 40%
				
		+media-breakpoint-up(lg)
			padding: 10px 0
			.inner-custom-navbar
				.custom-navbar-brand
					display: none
				.custom-language
					.languages
						.item
							padding: 5px
				.custom-navbar-collapse
					.custom-nav
						position: static
						display: flex
						flex-flow: row wrap
						align-items: center
						justify-content: center
						.dummy-brand-space
							width: 80px
						.custom-nav-item
							padding: 0 15px
						.closed-btn-item
							display: none
				.custom-navbar-hamburger
					display: none
		+media-breakpoint-up(xl)
			padding: 10px 0
			.inner-custom-navbar
				.custom-navbar-collapse
					.custom-nav
						.dummy-brand-space
							width: 100px
						.custom-nav-item
							padding: 0 30px
