extends _layout/layout

block variables
	- var title = 'About'
	- var description = 'Description for about page'
	- var bodyclass = 'about'

block body
	section.about
		section.about-part.section-banner.container-fluid.about-main-carousel.owl-carousel.owl-theme
			.item
				img.img-fluid(src="./img/gioithieu/gioithieu-slider-01.png", alt="ancucorp-banner")
			.item
				img.img-fluid(src="./img/gioithieu/gioithieu-slider-02.png", alt="ancucorp-banner")
		section.about-part.about-first-part.section-introduction.container
			h2.title About An Cu
			p An Cu Corporation was established in 1992, mainly operating in the field of construction, including construction execution and consultancy.
			p With 25 years of experience the team of civil engineers, M&E engineers, professional technical staff and the Corporation’s human resources team have been directly involved in the management of projects, consultancy and construction of many works in the territory of Vietnam, especially key office and apartment projects.
			p The Corporation boasts a charter capital of VND122 billion and has the financial capacity to orient, plan and meet strong growth targets in the coming time. In the near future, An Cu Construction Corporation will improve its capacity to participate in large projects in order to confirm its position and capacity in the field of consultancy and construction.
			p With the desire to provide high quality and stable construction products to the market, An Cu Corporation is looking forward to cooperating with its partners and customers to serve them through providing practical and sustainable value.
			p An Cu Corporation
			ul.address
				li Address : 29 TER Nguyen Dinh Chieu, Dakao Ward, District 1, Ho Chi Minh City.
				li Tel  : 0777 499 887
				li Fax : 0283 9111812

		section.about-part.section-brochure.container
			.row.brochure-row
				.col-3.item
					.img-box
						img.img-fluid(src="./img/gioithieu/gioithieu-duan-01.png", alt="")
				.col-3.item.item-down
					.img-box
						img.img-fluid(src="./img/gioithieu/gioithieu-duan-02.png", alt="")
				.col-3.item
					.img-box
						img.img-fluid(src="./img/gioithieu/gioithieu-duan-03.png", alt="")
				.col-3.item.item-down
					.img-box
						img.img-fluid(src="./img/gioithieu/gioithieu-duan-04.png", alt="")
			button#download-btn Download Brochure
		section.about-part.section-mainline.container
			h5.title main lines of business
			.mainline-content
				p Designing the architecture for civil and industrial projects. Designing the structure for civil and industrial projects. Designing electrical systems for civil and industrial projects and Interior design.

				p Constructing the industrial and civil projects. Leveling the works. Installing the interior decoration for the works. Trading in the interior decoration items.

				p Installing the equipment of the electrical system, lightning protection system and fire protection system, equipment of water supply and drainage system, substation equipment 300 KV or below.

				p Trading in the equipment of the electrical system, lightning protection system and fire protection system, equipment of water supply and drainage system, substation equipment 300 KV or below.

				p Constructing the railways and roads, repairing the roads and bridges.

				p Wholesaling other materials and installation equipment in the field of construction. Detail: Trading in the construction materials.

				p Trading in the real estate, land use rights owned by the owner, user or renter, trading in house.

				p Repairing the machines and equipment including repair and maintenance of the equipment of the electrical system, lightning protection system and fire protection system, equipment of water supply and drainage system, substation equipment 300 KV or below.

				p Producing, trading in beds, cabinets, tables, chairs. Providing the project interior.
		section.about-part.section-introduction-video.container-fluid
			#about-video-slider.slider.center
				.slide
					.box.side-box
						img.img-fluid(src="./img/gioithieu/gioithieu-video-bg-01.png", alt="")
				.slide
					.box.center-box
						img.img-fluid(src="./img/gioithieu/gioithieu-video-01.png", alt="")
				.slide
					.box.side-box
						img.img-fluid(src="./img/gioithieu/gioithieu-video-bg-02.png", alt="")

		section.about-part.section-about-leadership.container
			.row
				.col-lg-4.item
					.left-side
						.title-box
							i.fa.fa-eye
							h3 Vision
						.content-box
							p Building the Corporation with the professional staff; with the strategic vision and the human resources strong enough to carry out large-scale projects at the regional level, meeting the requirements of safety, technical and art quality in accordance with the regulated standards.

				.col-lg-4.item
					.center
						.box
							img.img-fluid(src="./img/gioithieu/gioithieu-tamnhin-01.png", alt="")
				.col-lg-4.item
					.right-side
						.title-box
							i.fa.fa-trophy
							h3 mission
						.content-box
							p Building quality systems and meeting the criteria of "right and good execution the first time" to create high quality products and services to satisfy the customer’s demand, strengthening the management thinking to improve actively the employee life and balance the Corporation profit. Bring the highest satisfaction to the requirements of "the best service for the customers – the employee life - the Corporation profit".


		section.about-part.section-about-directors.container-fluid
			.row
				.col-lg-3.title-col
					.title-box
						h3.title Board Of Directors
				.col-lg-9.slider-col
					.slider#about-directors-slider
						.slide
							.director-info
								.img-col
									.img-box
										img.img-fluid(src="./img/gioithieu/gioithieu-bangiamdoc-01.png", alt="")
								.content-col
									.content-box
										h5.name Huynh Huy Hoang
										p.role Director
										p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet eum provident ipsum culpa sint quaerat id dolore porro repellendus ab, dolores a saepe non reiciendis, ipsa optio hic obcaecati cum.
										p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet eum provident ipsum culpa sint quaerat id dolore porro repellendus ab, dolores a saepe non reiciendis, ipsa optio hic obcaecati cum.
										p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet eum provident ipsum culpa sint quaerat id dolore porro repellendus ab, dolores a saepe non reiciendis, ipsa optio hic obcaecati cum.
						.slide
							.director-info
								.img-col
									.img-box
										img.img-fluid(src="./img/gioithieu/gioithieu-bangiamdoc-02.png", alt="")
								.content-col
									.content-box
										h5.name Huynh Huy Hoang
										p.role Director
										p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet eum provident ipsum culpa sint quaerat id dolore porro repellendus ab, dolores a saepe non reiciendis, ipsa optio hic obcaecati cum.
										p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet eum provident ipsum culpa sint quaerat id dolore porro repellendus ab, dolores a saepe non reiciendis, ipsa optio hic obcaecati cum.
										p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet eum provident ipsum culpa sint quaerat id dolore porro repellendus ab, dolores a saepe non reiciendis, ipsa optio hic obcaecati cum.

		section.about-part.section-about-end.container-fluid
			.flex-box
				.item.img-box fsdfa
				.item
					.content-box
						p In order to meet the increasing demands of our society An Cu Construction Corporation always considers the supply of quality products and services to satisfy the customer’s maximum demand and continuously improves the position of An Cu Construction Corporation in the field of consultancy and construction.
						p In order to create more and more added value and improve accountability to the customers, An Cu Construction Corporation pays special attention to:
						ul
							li Staying up to date with technological innovations; studying the application of scientific and technical advances to the quality management and the construction of the works
							li Continuously thinking, improving the quality of work, raising the awareness of the technical staff as well as all employees of the Corporation.
						p Through the process of building and applying the quality management system in accordance with ISO 9001: 2000, An Cu Construction Corporation will gradually reach its commitments in order to ensure the best services and benefits for the customers and partners:
						ul
							li Undertaking professional development for the strategic and operational engineering management.
							li Providing quality products and ensuring the requirements of fine art, meeting the customer’s expectations in the best way.
							li Overcoming obstacles and difficulties in order to carry out works in accordance with the schedule.
							li Ensuring labor safety in the construction works.
