extends ./_layout/layout

block variables
	- var title = 'furniture'
	- var description = 'description for furniture page'
	- var bodyclass = 'whatwedo-furniture'
block body
	section.wwd-furniture
		section.section-wwd-banner-01.container-fluid
			.banner-box
		section.section-wwd-furniture-main-content.wwd-part.container
			.row.wwd-furniture-main-row
				.col-lg-9
					.main-content-box
						h1.title LUMP-SUM SERVICE FOR THE furniture AND INSTALLATION PACKAGES
						p Originating in 1992, An Cu is proud to be the leading brand in the field of kitchen cabinet - luxury interior in Vietnam, providing a lump-sum service for the interior design, production, construction and installation packages in accordance with each specific style, suitable for each living space by the creativity and dedication of the design team. The design of An Cu with 3D perspective helps customers visualize their interior space in a realistic and lively way.
						img.ing-fluid(src="./img/linhvuchd_ct/linhvuchd_ct-img-01.png", alt="")
						p Creating true and perfect value for customers is the principle of operation and desire of An Cu throughout many past years.
						p.text-section Door-to-door delivery service
						p With the motto of serving the customers the best, An Cu provides door-to-door delivery and installation services as required for the construction to be easier and more convenient than ever. Our door-to-door delivery service is free for the customers in Ho Chi Minh City area. For customers in other areas, An Cu will support delivery with the most reasonable cost.
						ul.text-section Developmental milestones:
							li 2011: Completing the process system in accordance with ISO 9001.
							li 2013: Opening the wood furniture production workshop.
							li 2014: Focusing on the high-class customer segment, comprehensive investment with overall design and execution, high art and quality requirement.
							li 2018: Targeting 100% of the customers will be satisfied with An Cu's services by the professional and reliable deployment processes.
						ul.text-section Targeted customers
							li ustomers who need an interior decoration for their apartments, houses in the lump-sum mode.
							li Customers who have the fair and high-grade investment demand by their semi classical and modern style.
							li Customers who are interested and need our services:
								ul
									li High commitment to perform the services.
									li Design is suitable for the use and the proper, durable, high aesthetic materials are used.
									li As EPC for the finishing work, electrical machinery, wood furniture, interior decoration.
									li Quotation is clear, detailed with the completed information, commit to construction in accordance with the approved materials and equipment.
									li Costs are in accordance with the expected investment level, not incurred.
									li One door, fast and long-term maintenance, devoted customer support to ensure that the works is always well-executed and repaired in time.
						p.text-section Before and After
						.row.before-after-row
							.col-6.item
								.img-box.before-img
							.col-6.item
								.img-box.after-img
				.col-lg-3
