extends _layout/layout
block variables
	- var title = 'what we do'
	- var description = 'Decription for the what we do page'
	- var bodyclass = 'whatwedo'


block body
	section.wwd
		section.section-wwd-banner-01.container-fluid
			.banner-box
		section.section-wwd-main-content.wwd-part.container
			.title-box
				h1.title what we do
			.outer-content-box
				.content-box
					a(href="./whatwedo-furniture.html")
						.inner-content-box.normal-row
							.img-box
								img.img-fluid(src="./img/linhvuchd/linhvuchd-duan-01.png", alt="")
							.text-box
								h4.title furniture
								p.text Originating in 1992, An Cu is proud to be the leading brand in the field of kitchen cabinet - luxury interior in Vietnam, providing a lump-sum service for the interior design, production, construction and installation packages in accordance with each specific style, suitable for each living space by the creativity and dedication of the design team. The design of An Cu with 3D perspective helps customers visualize their interior space in a realistic and lively way.
				.content-box
					a(href="./whatwedo-design.html")
						.inner-content-box.invert-row
							.img-box
								img.img-fluid(src="./img/linhvuchd/linhvuchd-duan-02.png", alt="")
							.text-box
								h4.title design
								p.text Nearly 30 years of experience in architecture, landscape, interior design and construction, with hundreds of customers each year, An Cu is honored to be a trusted brand in providing the design services for both individual and business customers. With a sophisticated, modern and luxurious style, the works designed by An Cu always contain a unique value and spirit of reality.
				.content-box
					a(href="./whatwedo-construction.html")
						.inner-content-box.normal-row
							.img-box
								img.img-fluid(src="./img/linhvuchd/linhvuchd-duan-03.png", alt="")
							.text-box
								h4.title construction
								p.text In the development strategy of the Corporation, the construction and erection bidding are the traditional fields and strengths of An Cu. From a subcontractor taking part into the projects, after 26 years, An Cu with its strong internal resources as well as financial resources and professional management has become a leading and prestigious choice for large projects in all modes, from the main contractor, general contractor EPC to the forms of BOT, BT, BOO. An Cu is contracted to build civil, industrial and infrastructure projects throughout the country.
