extends ./_layout/layout

block variables
	- var title = 'construction'
	- var description = 'description for construction page'
	- var bodyclass = 'whatwedo-construction'
block body
	section.wwd-construction
		h1 con
