
=wave-effect($ani)
	animation: $ani
	-webkit-animation: $ani

.about-part
	margin-top: 30px
	+media-breakpoint-up(md)
		margin-top: 50px
	+media-breakpoint-up(lg)
		&:not(.about-first-part)
			margin-top: 80px

.section-banner
	padding: 0
	.about-next-prev-bar
		margin-top: 10px
		display: flex
		justify-content: center
		button
			margin: 0 10px
			background: none
			border: none
			background: $mainBlue
			color: white
			font-size: 1.5rem
			padding: 0 10px
	.slider
		position: relative
		.item
			img
				width: 100%
		.slick-next,
		.slick-prev
			height: auto
			position: absolute
			top: 50%
			transform: translateY(-50%)
			z-index: 1
			opacity: 0
		.slick-next
			right: 1rem
			&:before
				color: $mainBlue
				content: "\f105"
				font: 40px/1 'FontAwesome'
		.slick-prev
			left: 1rem
			&:before
				color: $mainBlue
				content: "\f104"
				font: 40px/1 'FontAwesome'
	+media-breakpoint-up(lg)
		.slider
			.slick-next,
			.slick-prev
				height: auto
				position: absolute
				top: 50%
				transform: translateY(-50%)
				z-index: 1
				opacity: 0.4
			&:hover
				.slick-next,
				.slick-prev
					opacity: 1
		.about-next-prev-bar
			display: none
	



.section-introduction
	.title
		text-transform: uppercase
		color: $mainBlue
		text-align: center
		font-weight: bold
		margin-bottom: 20px
	p
		font-size: 1rem
		+media-breakpoint-up(md)
			font-size: 1.2rem
.section-brochure
	.row
		padding: 0
		margin: 0
		justify-content: center 
		[class*="col-"]
			padding: 0
			margin: 0
	.brochure-row
		.item-down
			margin-top: 20px
		.item
			margin-right: -20px 
			.img-box
				background: #dfe4ea
				padding: 5px
				img
					width: 100%
			&:last-child
				margin-right: 0
		+media-breakpoint-up(lg)
			.item-down
				margin-top: 50px
			.item
				margin-right: -50px
	#download-btn
		text-align: center
		color: white
		background: $mainBlue
		border: none
		padding: 5px 10px
		margin: auto
		display: block
		margin-top: 10px
		font-size: 1rem
		cursor: pointer
		+media-breakpoint-up(lg)
			font-size: 1.2rem
			padding: 5px 20px
			margin-top: 30px

.section-mainline
	.title
		text-transform: uppercase
		text-align: center
		margin-bottom: 20px
		font-size: 1.5rem
	p
		font-size: 1rem
		+media-breakpoint-up(md)
			font-size: 1.2rem

.section-introduction-video
	.slider
		.slick-list
			.slick-track
				display: flex
				justify-content: center
				align-items: center



.section-about-leadership
	.row
		.item
			.left-side,
			.right-side,
				.title-box
					color: $mainBlue
					text-align: center
					text-transform: uppercase
					i
						font-size: 5rem
				.content-box
					text-align: center
			.center
				display: flex
				align-items: center
				justify-content: center
				padding: 50px
				.box
					width: 50%
					transform: rotateZ(45deg)
					position: relative
					img
						width: 100%
					.wave-circle,
					.wave-circle-1,
					.wave-circle-2
						position: absolute
						top: 50%
						left: 50%
						transform: translate(-50%, -50%)
						// background: red
						width: 25px
						height: 25px
						border-radius: 50%
						display: block
					.wave-circle
						+wave-effect(water-drop-spread 6s ease-in infinite)
					.wave-circle-1
						+wave-effect(water-drop-spread 6s ease-in 2s infinite)
					.wave-circle-2
						+wave-effect(water-drop-spread 6s ease-in 4s infinite)
			+media-breakpoint-up(md)
				.center
					.box
						width: 40%
			+media-breakpoint-up(lg)
				display: flex
				.left-side
					.title-box,
					.content-box
						text-align: right
				.right-side
					.title-box,
					.content-box
						text-align: left
				.center
					display: flex
					padding: 0
					margin: auto
					align-self: center
					// margin: auto
					.box
						width: 70%


@keyframes water-drop-spread
	0% 
		border: 1.5px darken($mainBlue,20%) solid
		width: 30px
		height: 30px
		opacity: 1
	100% 
		border: .1px darken($mainBlue,10%) solid
		width: 180px
		height: 180px
		opacity: 0
+media-breakpoint-up(md)
	@keyframes water-drop-spread
		0% 
			border: 1.5px darken($mainBlue,20%) solid
			width: 30px
			height: 30px
			opacity: 1
		100% 
			border: .1px darken($mainBlue,10%) solid
			width: 300px
			height: 300px
			opacity: 0
		
.section-about-directors
	background: $bg
	padding: 0
	.row
		margin: 0
		[class*='col-']
			padding: 0
		.title-col
			background: $mainBlue
			display: flex
			justify-content: center
			align-items: center
			.title-box
				padding: 20px
				.title
					margin: 0
					color: white
					text-align: right
			+media-breakpoint-up(lg)
				justify-content: flex-end
		.slider-col
			.slider
				position: relative
				.slick-next,
				.slick-prev
					height: auto
					position: absolute
					top: 50%
					transform: translateY(-50%)
					z-index: 1
				.slick-next
					right: 1rem
					&:before
						color: $mainBlue
						content: "\f105"
						font: 40px/1 'FontAwesome'
				.slick-prev
					left: 1rem
					&:before
						color: $mainBlue
						content: "\f104"
						font: 40px/1 'FontAwesome'

				.slide
					&:focus
						outline: none
					.director-info
						display: flex
						flex-flow: column wrap
						align-items: center
						justify-content: center
						.img-col
							.img-box
								margin: auto
								width: 100%
								img
									width: 100%
						.content-col
							.content-box
								padding: 20px
								.name,
								.role
									color: $mainBlue
									text-transform: uppercase
									font-weight: bold
									text-align: center
						+media-breakpoint-up(md)
							align-items: flex-start
							justify-content: flex-start
							flex-flow: row nowrap
							.img-col
								flex-basis: 600px
								flex-grow: 1
								.img-box
									width: 100%
							.content-col
								.content-box
									.name,
									.role
										text-align: left
						+media-breakpoint-up(lg)
							.img-col
								flex-basis: 800px
						+media-breakpoint-up(xl)
							.img-col
								flex-basis: 300px

.section-about-end
	padding: 0
	.flex-box
		margin: 0
		display: flex
		flex-flow: column-reverse wrap
		[class*='col-']
			padding: 0
		.item
			background: $mainBlue
			color: white
			width: 100%
			flex-grow: 1
			.content-box
				padding: 30px
		.img-box
			background: url('../img/gioithieu/gioithieu-hinhanh-01.png') no-repeat center center
			background-size: cover
			min-height: 200px
		+media-breakpoint-up(md)
			.img-box
				min-height: 400px
		+media-breakpoint-up(lg)
			flex-flow: row nowrap
			.item




