
.about-part
	margin-top: 30px

.section-banner
	padding: 0
	margin: 0
	.owl-nav
		.owl-prev,
		.owl-next
			background: $mainBlue !important
			height: 3rem
			width: 3rem
			display: inline-flex
			justify-content: center
			align-items: center
			outline: none
			span
				+fz(3rem)
				line-height: 3rem
				color: white
		+media-breakpoint-up(md)
			position: absolute
			top: 50%
			left: 0
			width: 100%
			margin: 0
			transform: translateY(-50%)
			.owl-prev,
			.owl-next
				position: absolute
				transform: translateY(-50%)
				top: 0
			.owl-prev
				left: 1rem
			.owl-next
				right: 1rem


.section-introduction
	.title
		text-transform: uppercase
		color: $mainBlue
		text-align: center
		font-weight: bold
		margin-bottom: 20px
	p
		font-size: 1rem
		+media-breakpoint-up(md)
			font-size: 1.2rem
.section-brochure
	.row
		padding: 0
		margin: 0
		justify-content: center 
		[class*="col-"]
			padding: 0
			margin: 0
	.brochure-row
		.item-down
			margin-top: 40px
		.item
			margin-right: -20px 
			.img-box
				background: #dfe4ea
				padding: 8px
				img
					width: 100%
			&:last-child
				margin-right: 0
		+media-breakpoint-up(lg)
			.item
				margin-right: -50px
	#download-btn
		text-align: center
		color: white
		background: $mainBlue
		border: none
		padding: 5px 15px
		margin: auto
		display: block
		margin-top: 30px
		font-size: 1.2rem
		cursor: pointer

.section-mainline
	.title
		text-transform: uppercase
		text-align: center
		margin-bottom: 20px
		font-size: 1.5rem
	p
		font-size: 1rem
		+media-breakpoint-up(md)
			font-size: 1.2rem


.section-about-leadership
	.row
		.item
			.left-side,
			.right-side,
				.title-box
					color: $mainBlue
					text-align: center
					text-transform: uppercase
				.content-box
					text-align: center
			.center
				display: flex
				align-items: center
				justify-content: center
				padding: 50px
				.box
					width: 50%
					transform: rotateZ(45deg)
					img
						width: 100%
			+media-breakpoint-up(md)
				.center
					.box
						width: 40%
			+media-breakpoint-up(lg)
				display: flex
				.left-side
					.title-box,
					.content-box
						text-align: right
				.right-side
					.title-box,
					.content-box
						text-align: left
				.center
					display: flex
					padding: 0
					margin: auto
					align-self: center
					// margin: auto
					.box
						width: 70%


