<!-- ////////////// FOOTER ////////////// -->
footer
	.menu-footer
		.container
			.row
				.col-md-5.col-lg-6.d-flex.info.text-center.text-md-left.align-items-center.align-items-md-left
					.logo.mb-4
						img.float-left(src="./img/logo.png", alt="alt")
					.text
						h2 Tập đoàn xây dựng An Cư
						p An Cư Corporation được thành lập vào năm 1992 hoạt động chủ yếu trong lĩnh vực xây dựng bao gồm tổ chức thực hiện thi công xây dựng và tư vấn xây dựng công trình.
						ul.list-inline
							li.list-inline-item
								a(href="#")
									i.fa.fa-facebook
							li.list-inline-item
								a(href="#")
									i.fa.fa-youtube-play
							li.list-inline-item
								a(href="#")
									i.fa.fa-google
				.col-sm-6.col-md.text-center.text-md-left.mt-4.mt-md-0
					h2 Liên kết nhanh
					ul.menu-1
						li
							a(href="#") Giới thiệu
						li
							a(href="#") Dự án 
						li
							a(href="#") Tin tức 
						li
							a(href="#") Tuyển dụng
						li
							a(href="#") Brochure
				.col-sm-6.col-md.mt-4.mt-md-0.text-center.text-md-left
					h2 Lĩnh vực hoạt động
					ul.menu-1
						li
							a(href="#") Nội thất
						li
							a(href="#") Thiết kế
						li
							a(href="#") Xây dựng
	.coppyright
		.container
			.row.d-flex.justify-content-center.align-items-center
				.col
					.text-center
						p.m-0 © 2018 ANCU CORP. All Rights Reserved. Designed by Cánh Cam.