<!-- ////////////// HEADER ////////////// -->
header
	nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
		button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#nav-left.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
		a.navbar-brand.mx-auto(href="#")
			#logo
		.collapse.navbar-collapse
			ul.nav.navbar-nav.ml-auto
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
		// Mobile
		#navbarMobile.collapse
			ul.nav.navbar-nav
				li.nav-item
					a.nav-link(href="#") Mobile Link
				li.nav-item
					a.nav-link(href="#") Mobile Link
				li.nav-item
					a.nav-link(href="#") Mobile Link
				li.nav-item
					a.nav-link(href="#") Mobile Link
				li.nav-item
					a.nav-link(href="#") Mobile Link
				li.nav-item
					a.nav-link(href="#") Mobile Link