<!-- ////////////// HEADER ////////////// -->
header
	.custom-navbar.container-fluid
		.inner-custom-navbar.container
			.custom-navbar-brand
				a.custom-brand-link
					img.img-fluid(src="./img/header/logo.png", alt="")
			.custom-navbar-collapse
				ul.custom-nav
					li.custom-nav-item.active
						a.custom-nav-link(href="/about.html") Giới Thiệu
					li.custom-nav-item
						a.custom-nav-link(href="/whatwedo.html") Lĩnh Vực Hoạt Động
					li.custom-nav-item
						a.custom-nav-link(href="") Dự Án
					li.custom-nav-item
						a.custom-nav-link(href="") Tin Tức
					li.custom-nav-item.dummy-brand-space
						#brand-box
							img.img-fluid(src="./img/header/logo.png", alt="")
					li.custom-nav-item
						a.custom-nav-link(href="") Thư Viện
					li.custom-nav-item
						a.custom-nav-link(href="") Tuyển Dụng
					li.custom-nav-item
						a.custom-nav-link(href="") Liên Hệ
					li.closed-btn-item
						button.btn#cus-closed-btn
							i.fa.fa-times
			.custom-language
				ul.languages
					li.item
						img.img-fluid(src="./img/header/header-flag-vn.png", alt="") 
					li.item
						img.img-fluid(src="./img/header/header-flag-usa.png", alt="")
					li.item
						img.img-fluid(src="./img/header/header-flag-korea.png", alt="")
					li.item
						img.img-fluid(src="./img/header/header-flag-japan.png", alt="")
					li.item
						img.img-fluid(src="./img/header/header-flag-china.png", alt="")
			.custom-navbar-hamburger
				button#cus-hamgurger
					i.fa.fa-bars


